:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
